* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Times New Roman, sans-serif;
    background-image: url('https://img.freepik.com/premium-photo/3d-photorealistic-depiction-scales-gavel_1153807-14749.jpg?size=626&ext=jpg&ga=GA1.1.134818236.1727326763&semt=ais_hybrid');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    position: absolute;
}
h2 {
    color: white;
    margin-bottom: 20px;
}
label {
    color: white;
    display: block;
    text-align: left;
    margin-bottom: 10px;
}
input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #110B68;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #003f8a;
}
.remember-me {
    margin-bottom: 20px;
	display:flex;
	align-items:center;
}
.remember-me input[type="checkbox"] {
    margin-right: 10px;
	transform:scale(1.5);
}
.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}
.forgot-password a {
    color: white;
    text-decoration: none;
}
.forgot-password a:hover {
    text-decoration: underline;
}
.message {
    margin-top: 20px;
    color: white;
}
p{
	color:white;
}
	